h5 {
    font-weight: bold;
}

.summary {
    text-align: left;
    clear: both;
}

.listing {
    margin-bottom: 25px;
}

.listing-company-summary {
    max-width: 85%;
}

.listing-daterange {
    float: right !important;
}

.listing-item {
    padding-top: 3px;
    clear: both;
}

.listing-item-title {
    clear: both;
}

    .listing-item-title div {
        float: left;
    }

        .listing-item-title div:first-child {
            font-weight: bold;
        }

        .listing-item-title div + div {
            padding-left: 3px;
        }


.img-small {
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

.smallotron {
    background-color: #EEEEEE;
    padding: 10px 0px 10px 15px;
}

.smallotron-invert {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-right: 15px;
    margin-top: 15px;
}

.quote {
    text-align: center;
}

.github {
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
    display: none;
    float: right;
}

.clear-right {
    clear: right;
}

.social {
    overflow: auto;
}

    .social li {
        list-style-type: none;
        float: left;
    }

        .social li a i {
            background: #205D7A;
            color: #fff;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            font-size: 25px;
            text-align: center;
            margin-right: 10px;
            padding-top: 15%;
            transition: all 0.2s ease-in-out;
        }

    .social .fa-envelope {
        background-color: #d5d5d5;
        color: #A3A3A3;
    }

    .social .fa-file-pdf-o
    {
        background-color: #bd0000;
    }

    .social .fa-file-word-o {
        background-color: #22549b;
    }

    .social .fa-github {
        background-color: #444;
    }

    .social .fa-stack {
        background: #3b5998;
    }

    .social .fa-linkedin {
        background: #007bb6;
    }

    .social .fa-twitter {
        background: #00aced;
    }

    .social .google-plus {
        background: #dd4b39;
    }

    .social li a i:hover {
        opacity: .7;
    }

@media (min-width: 1440px) {

    .github-visible {
        display: block;
    }
}

@media (min-width: 1200px) {

    .personal-info {
        padding-left: 15px;
    }

    .contact-icon {
        padding-left: 10px;
        margin-top: -4px;
    }

    .wide-text-right {
        text-align: right;
    }

    .wide-hide {
        display: none;
    }
}

@media (min-width: 608px) and (max-width: 1200px) {

    .personal-info {
        padding-left: 15px;
    }

    .contact-icon {
        padding-left: 10px;
        margin-top: -4px;
    }

    .wide-text-right {
        text-align: right;
        padding-right: 15px;
    }

    .wide-hide {
        display: none;
    }
}

@media (max-width: 608px) {

    .social {
        padding: 0;
        margin: 6px 0;
        float: none !important;
    }

    .personal-info {
        float: none !important;
        clear: left;
        padding: 0;
    }

        .personal-info address {
            margin-bottom: 0;
        }

    .wide-text-right {
        float: none !important;
        clear: right;
        padding: 0;
    }

    .narrow-hide {
        display: none;
    }

    .contact-icon {
        padding-right: 10px;
        margin-top: -4px;
    }

    .wide-quote {
        text-align: left;
        padding-left: 15px;
    }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {

    .social {
        padding: 0;
        margin: 6px 0;
        float: none !important;
    }

    .listing-daterange {
        clear: both;
        float: none !important;
    }

    .listing-item-title div {
        float: none !important;
    }

    .listing-header div:first-child {
        padding-top: 3px;
    }

    .listing-item-title div + div {
        padding-left: 0;
    }
}

@media print {

    @viewport {
        width: 1200px;
    }

    .print-hide {
        display: none;
    }
}
