h5 {
    font-weight: bold;
}

.summary {
    text-align: justify;
    clear: both;
}

.listing {
    margin-bottom: 25px;
}

.listing-company-summary {
    max-width: 85%;
}

.listing-daterange {
    float: right !important;
}

.listing-item {
    padding-top: 3px;
    clear: both;
}

.listing-item-title {
    clear: both;
}

    .listing-item-title div {
        float: left;
    }

        .listing-item-title div:first-child {
            font-weight: bold;
        }

        .listing-item-title div + div {
            padding-left: 3px;
        }


.img-small {
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

.smallotron {
    background-color: #EEEEEE;
    padding: 10px 0px 10px 15px;
}

.smallotron-invert {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-right: 15px;
    margin-top: 15px;
}

.quote {
    text-align: center;
}

.github {
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
    display: none;
    float: right;
}

.clear-right {
    clear: right;
}



@media (min-width: 1440px) {

    .github-visible {
        display: block;
    }
}

@media (min-width: 1200px) {

    .personal-info {
        padding-left: 15px;
    }

    .contact-icon {
        padding-left: 10px;
        margin-top: -4px;
    }

    .wide-text-right {
        text-align: right;
    }

    .wide-hide {
        display: none;
    }
}

@media (min-width: 608px) and (max-width: 1200px) {

    .personal-info {
        padding-left: 15px;
    }

    .contact-icon {
        padding-left: 10px;
        margin-top: -4px;
    }

    .wide-text-right {
        text-align: right;
        padding-right: 15px;
    }

    .wide-hide {
        display: none;
    }
}

@media (max-width: 608px) {

    .personal-info {
        float: none !important;
        clear: left;
        padding: 0;
    }

        .personal-info address {
            margin-bottom: 0;
        }

    .wide-text-right {
        float: none !important;
        clear: right;
        padding: 0;
    }

    .narrow-hide {
        display: none;
    }

    .contact-icon {
        padding-right: 10px;
        margin-top: -4px;
    }

    .wide-quote {
        text-align: left;
        padding-left: 15px;
    }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {

    .listing-daterange {
        clear: both;
        float: none !important;
    }

    .listing-item-title div {
        float: none !important;
    }

    .listing-header div:first-child {
        padding-top: 3px;
    }

    .listing-item-title div + div {
        padding-left: 0;
    }
}

@media print {

    @viewport {
        width: 1200px;
    }

    .print-hide {
        display: none;
    }
}
