.summary {
	text-align: justify;
}

.listing{
	margin-bottom: 25px;
}

.listing-header {
	border-bottom: 1px solid #d5d5d5;
	overflow: hidden;
}

.listing-item{
	padding-top: 3px;
	clear: both;
}

.listing-item-title
{
}

.img-small {
	height: 100px;
	width: 100px;
	border-radius: 5px;
}

.smallotron {
	background-color: #EEEEEE;
	padding-top: 10px;
	padding-bottom: 10px;
}

.smallotron-invert {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	padding-right: 15px;
	margin-top: 15px;
}

.quote {
	text-align: center;
}

.github {
	position: fixed; 
	top: 0; 
	right: 0; 
	border: 0;
	display: none;
	float: right;
}

.clear-right {
	clear: right;
}

@media (min-width: 1440px) {

	.github-visible {
		display: block;
	}

}

@media (min-width: 1200px) {

	.contact-icon {
		padding-left: 10px;
		margin-top: -4px;
	}

	.wide-text-right {
		text-align: right;
	}

	.wide-hide {
		display: none;
	}

	.wide-personal-info {
		padding-left: 15px;
	}

}

@media (min-width: 992px) and (max-width: 1200px) {

	.contact-icon {
		padding-left: 10px;
		margin-top: -4px;
	}

	.wide-personal-info {
		padding-left: 30px;
	}

	.wide-text-right {
		text-align: right;
	}

	.wide-hide {
		display: none;
	}

}

@media (max-width: 992px) {

	.narrow-hide {
		display: none;
	}

	.contact-icon {
		padding-right: 10px;
		margin-top: -4px;
	}

	.wide-quote {
		text-align: left;
		padding-left: 15px;
	}

}

@media print {

	@viewport {
		width: 1200px;
	}

	.print-hide {
		display: none;
	}

}